@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: "Martel Sans", sans-serif;
}
body{
    background-color: black;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: auto;
    height: 62px;
    width: 80vw;
    gap: 40%;
    position: relative;
    z-index: 10;
    padding-top: 20px;
}

.main {
    position: relative;
    background-image: url(images/bg.jpg);
    height: 110vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main .box {
    position: absolute;
    top: 0;
    background-color: black;
    height: 110vh;
    width: 100%;
    opacity: .74;
}

.hero {
    text-align: center;
    width: 60%;
    margin: auto;
    height: 100%;
    color: white;
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.hero > span:first-child{
    font-size: 56px;
    line-height: 70px;
    font-weight: 900;
}
.hero > span:nth-child(2){
    line-height: normal;
    font-weight: 500;
    font-size: 20px;
}
.hero > span:nth-child(3){
    line-height: 80px;
    font-weight: 400;
    font-size: 16px;
}
.seperator{
    transform: translateY(11px);
    position: absolute;
    bottom: 0;
}
.seperator img{
    width: 98.6vw;
}
.btn{
    padding: 4px 13px;
    border-radius: 4px;
    font-weight: 600;
}
.btn-red{
    background-color: red;
    color: white;
}
#get_started{
    font-size: 20px;
    line-height: 50px;
}
button svg {
    height: 19px;
    width: 40px;
}
.btn-large{
    padding-top: 0;
}
input{
    padding: 20px max(210px,100px) 16px 25px;
    background-color: rgba(0, 0, 0, 0.509);
    border: solid grey 1.7px;
}
input::placeholder{
    font-size: 15px;
    display: flex;
    color: rgba(255, 255, 255, 0.651);
    text-align: left;
}
.input_fields{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.middle{
    height: 1000px;
    color: white;
}
.middle > span {
    font-size: 24px;
    font-weight: 700;
    padding-left: 10vw;
}
.two_btns{
    color: white;
    padding-left: 10vw;
}
.two_btns button{
    color: white;
    padding-right: 29px ;
    font-size: 15px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.365);
    border: 1.2px solid grey;
}
.movie_box{
    height: 250px;
    width: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.movie_box:hover{
    transform: scale(105%);
}
.movie_box > span{
    position: absolute;
    bottom: -50px;
    left: -30px;
    font-size: 110px;
    font-weight: 800;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.movielist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding:20px;
}
.kalki{
    background-image: url(images/kalki.jpg);
}
.hd{
    background-image: url(images/haseen_dilruba.jpg);
}
.union{
    background-image: url(images/union.jpg);
}
.indian2{
    background-image: url(images/indian2.jpg);
}
.more{
    padding-top: 40px;
}
.more > span{
    font-size: 24px;
    font-weight: 700;
    padding-left: 10vw;
}
.join_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding:20px;
}
.join_list span:first-child{
    font-size: 23px;
    font-weight: 800;
    padding: 25px 15px 5px;
}
.join_list span:nth-child(2){
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0px 15px;
}
.join_box{
    position: relative;
    border-radius: 15px;
    height: 350px;
    width: 231px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    display: flex;
    flex-direction: column;
}
.join_box img{
    bottom: 10px;
    right: 10px;
    position: absolute;
    height: 74px;
    width: 79px;
}
.freq_asked{
    padding-top: 30px;
}
.freq_asked > span:first-child{
    font-size: 24px;
    font-weight: 700;
    padding-left: 10vw;
}
.q_list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ques{
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    font-size: 24px;
    font-weight: 700;
    margin: auto;
    background-color: rgb(43, 43, 43);
    height: 80px;
    width: max(80vw,40vw);
}
.ques:hover{
    background-color: rgb(52, 52, 52);
}
.ques > svg {
    height: 20px;
}

.last_register{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.input_fields_2 > input{
    width: max(30vw,5vw);
}
.end{
    padding-left: 40px;
    opacity: 0.7;
}
.end ul{
    padding: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration: underline;
}
.end button{
    padding: 2px 10px;
    background-color: black;
    color: white;
    border: 1.3px solid grey;
    opacity: 1;
}
.end span{
    padding: 30px;
    display: block;
}
